<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
        //开启驼峰命名规则
        <settings>
           <setting name="mapUnderscoreToCamelCase" value="true"></setting>
        </settings>
    -->


    <!--定义别名  -->
    <typeAliases>
        <!--使用自定义包来扫描别名-->
        <package name="ssmjx.core.po" />
    </typeAliases>

</configuration>